<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
        <img src="assets/logo.png" alt="Logo" height="40" class="d-inline-block align-text-top">
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Routes</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/managers" routerLinkActive="active">Managers</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/teams" routerLinkActive="active">Teams</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/results" routerLinkActive="active">Results</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/fixtures" routerLinkActive="active">Fixtures</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/team-ranking" routerLinkActive="active">Team Ranking</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/scoring-stats-1" routerLinkActive="active">Scoring Stats</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/scoring-stats-2" routerLinkActive="active">Scoring Stats II</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/scoring-chart" routerLinkActive="active">Scoring Chart</a>
        </li>

        <li class="nav-item" *ngIf="auth.isLoggedIn$ | async">
          <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="!(auth.isLoggedIn$ | async)">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        </li>

        <li class="nav-item" *ngIf="auth.isLoggedIn$ | async">
          <button (click)="logout()" class="btn btn-outline-danger btn-sm mt-1">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>